version: 2
updates:
  - package-ecosystem: "npm" 
    directory: "/" 
    schedule:
      interval: "cron"
      cronjob: "0 0 * * *"
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 0 * * *"
  - package-ecosystem: "dotnet-sdk"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 0 * * *"
